@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");


* {
    font-family: 'Cascadia Code', sans-serif;
    font-size: 100%;
}

body {
    background-color: #e3e3e3;
    min-width: 800px;
}

header {
    padding: 2rem 2rem;
    background-color: rgb(132, 255, 255);
    width: 100%;
}

section {
    padding: 2rem 2rem;
}

.card {
    padding: 1rem;
    background-color: rgb(196, 196, 196);
    width: fit-content;
    width: -moz-fit-content;
    margin-bottom: 1rem;
}

.card>p {
    color: rgb(236, 236, 236);
}